<div id="main-column">
	User profile branch: <%= current_profile.branch.name%>
	<h1><%= @clazz.name %> </h1><br>
	Branch name: <%= @clazz.branch.name %> <br>
	Applicable to year: <%= @clazz.year.year %>
	<p>
		<%= link_to "Edit this Class", edit_clazz_path(@clazz) %>
	</p>
</div>

	

