<tr>
	<td><%= f.label :name %></td>
	<td><%= f.text_field :name, :size => 15 %></td>
</tr>
<tr>
	<td><%= f.label :id_no, "ID" %></td>
	<td><%= f.text_field :id_no, :size => 15 %></td>
</tr>
<tr>
	<td><%= f.label :femlate %></td>
	<td>
	 	<% if f.object.new_record?%>
			<%= f.select :female, options_for_select([  ["Female", true], ["Male", false] ] ) , {:include_blank => 'None'}  %>
		<% else %>
			<%= f.select :female, options_for_select([  ["Female", true], ["Male", false] ], f.object.female? ) , {:include_blank => 'None'}  %>
		<% end %>		
	</td> 
</tr>
<tr>
	<td><%= f.label :date_joined, "Joining date" %></td>
	<td> 
		<% if f.object.new_record? ||  !f.object.date_joined%>
			<%= f.text_field :date_joined, :class =>  'datepicker' %>
		<% else%>
		  	<%= f.text_field :date_joined, :value => f.object.date_joined.strftime("%d %B, %Y").to_s, :class =>  'datepicker' %>
		<% end%>
	</td>
</tr>
<tr>
	<td><%= f.label :date_departed, "Departing date" %></td>
	<td> 
		<% if f.object.new_record? || !f.object.date_departed %>
			<%= f.text_field :date_departed, :class =>  'datepicker' %>
		<% else%>
		  	<%= f.text_field :date_departed, :value => f.object.date_departed.strftime("%d %B, %Y").to_s, :class =>  'datepicker' %>
		<% end%>
	</td>
</tr>
<tr>
	<td> 
		<%= f.label :resource_type_id, "Type" %>
	</td>
	<td> 	 	
		<%
		if faculty
		  res_type_id = faculty.resource_type_id
		else
		  res_type_id = 0
		end
		
		res_types = get_resource_types(faculty)
		%>
		<%= select("faculty", "resource_type_id", res_types.collect {|p| [ p.name, p.id ] }, {:include_blank => true, :selected => res_type_id  }) %>		
	</td>
</tr>		

 
 
	