<h1>Faculty Index </h1>
<div id="main-column">
	<table class='index_table_z' >
	    <thead>	
			<tr>
				<th>Name </th>
				<th>ID</th>
				<th>Gender</th>
				<th> Date Joined </th>
				<th>Date Departed</th>
				<th>Type</th>
			</tr>
		</thead>
	    <tbody>
		<% @faculties.each do |faculty| %>
			<tr>
				<td><%= link_to faculty.name, faculty %></td>
				<td><%= faculty.id_no %></td>
				<td><%= faculty.gender %> </td>
				<td><%= faculty.date_joined.to_s %> </td>
				<td><%= faculty.date_departed.to_s %> </td>
				<td><%= faculty.type %>
				<td> <%= link_to 'Show', faculty_path(faculty) %> | 
						<%= link_to 'Edit', edit_faculty_path(faculty) %> | 
					    <%= link_to 'Destroy', faculty, :confirm => 'Are you sure?', :method => :delete %> 
				</td>
			</tr>
		<% end %>
	    </tbody>	
	</table>		
</div>
