<div id="main-column">
	<h1><%= @faculty.name %> </h1><br>
	<% if @faculty.female? %> Female <% else %> Male <%end%><br>
	<%= @faculty.id_no %><br>
	Joined on <%= @faculty.date_joined %> <br>
	Departed on <%= @faculty.date_departed %><br>
	<p>
		<%= link_to "Edit this faculty", edit_faculty_path(@faculty) %>
	</p>
</div>

	

