<div id="main-column">
	<h1>Assign Students </h1>
	<h2> Branch students list </h2>
	<table class='index_table_z' >
	    <thead>	
			<tr>
				<th>Name </th>
				<th>ID</th>
				<th>Gender</th>
				<th> Date Joined </th>
				<th>Date Departed</th>
				<th>Type</th>
			</tr>
		</thead>
	    <tbody>
		<% @section.clazz.branch.students.each do |student| %>
			<tr>
				<td class = 'ajaxified'><%= link_to student.name, assign_students_section_path(@section, :selected_student_id => student.id ) %></td>
				<td><%= student.id_no %></td>
				<td><%= student.gender %> </td>
				<td><%= student.date_joined.to_s %> </td>
				<td><%= student.date_departed.to_s %> </td>
				<td><%= student.type %>
			</tr>
		<% end %>
	    </tbody>	
	</table>		
	<div id="selected_students">
		<%= render 'selected_students' %>
	</div>			
</div>
