<div id="main-column">
	<h1>Section Index </h1> 
	<% if params[:clazz_id] %> 
		<h2>Class: <%= Clazz.find(params[:clazz_id]).name %> </h2><br>
	<% end %>
	User profile branch: <%= current_profile.branch.name %><br>
	<table class='index_table_z' >
	    <thead>	
			<tr>
				<th>Name </th>
				<th>Clazz </th>
				<th>Branch</th>
				<th>Action</th>				
			</tr>
		</thead>
	    <tbody>
		<% @sections.each do |section| %>
			<tr>
				<td><%= link_to section.name, section %></td>
				<td><%= link_to section.clazz.name, clazz_path(section.clazz) %></td>
				<td><%= link_to section.clazz.branch.name, branch_path(section.clazz.branch) %></td>
				<td> 
					<%= link_to 'Show', section_path(section) %> | 
					<%= link_to 'Edit', edit_section_path(section) %> | 
					<%= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete %> 
				</td>
			</tr>
		<% end %>
	    </tbody>	
	</table>		
</div>
