<% hash = Mark.mark_columns_with_subject_ids(@section) %>
<div class="section-marks-report">
	<div class = "total-marks-report">
		<span class="title">Total Marks</span>
		<table class = "total-marks">
			<tr class = "desc">  
				<th>Name</th>
				<% hash.each do |sub_id, col_name| %>
					<% max_marks_total = Mark.get_max_marks_total(@section.id, sub_id) %>
					<th> <%= Subject.find(sub_id).name %> <br> <%= max_marks_total %> </th>
				<% end %>
			</tr>
			<% @section.students.each do |student| %>
				<tr>
					<td class = "name"> <%= student.name%> </td>
					<% hash.each do |sub_id, col_name| %>
						<!-- Since we cannot find the section_id from the student (student has many sections),
							we need to pass the section_id, too. -->
						<% total = Mark.total_subject_marks(student.id, @section.id, sub_id) %>
					    <% style = Mark.get_style_class_for_total(total, @section.id, sub_id) %>
						<td> <span class = "total <%=style %>" > <%= total.to_i %></span> </td>					
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
	
	<% hash.each do |sub_id, col_name| %>
		<div class = "subject-marks-report">
			<span class="title"><%= Subject.find(sub_id).name %></span>
			<table>
				<% exams_count = @section.exams.count %>
				 <colgroup class="name"></colgroup>
				<tr class = "desc" >
					<th> Name </th>
					<% total = 0%>
					<% @section.exams.order('id').each do |exam| %>
						 <% max_marks = Mark.get_max_marks(@section.id, sub_id, exam.id) %>
						<th> 
							<%= exam.name %>
							<% if max_marks %>
								<% total = total + max_marks if max_marks %>
								<br><%= max_marks.to_i %>
							<% end %>
						</th>
					<% end %>
					<th>Graph</th>
					<th>Total <br> <%= total.to_i %> </th>
				</tr>
				<% @section.students.each do |student| %>
					<tr>
						<% 
						total = 0
						graph_value = ""
						%>
						<td> <%= student.name %></td>
						<% student.marks.order('exam_id').each do |mark| %>
							<% 
							if mark.send(col_name)
							  print_mark =  mark.send(col_name)
							else
							  print_mark = 0
							end 
							total = total + print_mark
							if graph_value.length == 0
							  graph_value = graph_value + "#{print_mark.to_i}"
							else
							  graph_value = graph_value +  ", #{print_mark.to_i}"
							end
							style = mark.get_style_class(sub_id) 
							%>
							<td> <span class = "mark <%= style %>" > <%= print_mark.to_i %> </span> </td>
						<% end %>
						<td> <span class = "sparklines"> <%= graph_value %> </span> </td>
						<% style = Mark.get_style_class_for_total(total, @section.id, sub_id) %>
						<td>  <span class = "total <%=style %>" > <%= total.to_i %> </span> </td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
	<div class="clearfloat"></div>
</div>


<div class = "grade-report">
	<% hash.each do |sub_id, col_name| %>	
		<% students_total = Mark.students_total_subject_marks(@section.id, sub_id).sort_by {|stu_id, total| total} %>
		<div class="subject">
			<% max_marks_total = Mark.get_max_marks_total(@section.id, sub_id) %>
			<p class="title"> <span class = "total" > <%= max_marks_total.to_i %> </span> <%= Subject.find(sub_id).name %> </p>
			<div class="grade">
				<% style = "" %>
				<% students_total.each do |stu_id, total| %>
					<% if !Mark.get_style_class_for_total(total, @section.id, sub_id).eql?(style) %>
						<% style = Mark.get_style_class_for_total(total, @section.id, sub_id) %>
						<p class= "grade-name <%=style %> "> <%= style %> <span class = "count"> ??? </span></p> 
					<% end %>
					<% graph_value = ""%>
					<% Student.find(stu_id).marks.order('exam_id').each do |mark| %>
						<% if mark.send(col_name) %>
					  		<% print_mark =  mark.send(col_name) %>
						<% else %>
					  		<% print_mark = 0 %>
						<% end  %>
						<% if graph_value.length == 0 %>
						  	<% graph_value = graph_value + "#{print_mark.to_i}" %>
						<% else %>
						  	<% graph_value = graph_value +  ", #{print_mark.to_i}" %>
						<% end %>
					<% end %>
					<p> <span class = "sparklines"> <%= graph_value %> </span> <span class = "total" > <%= total.to_i %> </span> <%= Student.find(stu_id).name %> </p>
				<% end %>
			</div>
			<div class="grade-column-graph">	Graph diagram	</div>
		</div>
	<% end %>
	<div class="clearfloat"></div>	
</div>
