<div id="main-column">
	User profile branch: <%= current_profile.branch.name%>
	<h1><%= @section.name %> </h1>
	<h2>Class: <%= @section.clazz.name %> </h2>
	<h3>Branch: <%= @section.clazz.branch.name %> </h3>
	<h3>Class Teacher: <%= @section.faculty.name if @section.faculty %>
	<h3>Subjects </h3>
		<ol>
			<% @section.sec_sub_maps.each do |map| %>
			<li> <%= map.subject.name %> - <%= map.faculty.name %> </li>
			<% end %>
		</ol>
	<h3>Tests </h3>
		<ol>
			<% @section.sec_exam_maps.each do |map| %>
			<li> 
				<%= map.exam.name %> - 
				start: &nbsp; <%= map.startdate.strftime("%d %B, %Y").to_s if map.startdate %>   &nbsp;&nbsp;
				end: &nbsp; <%= map.enddate.strftime("%d %B, %Y").to_s if map.enddate %>   - 
				<%= link_to "Update Marks", select_subjects_section_path(@section, :exam_id => map.exam_id) %>
			</li>
			<% end %>
		</ol>		
	<h3> Students and Marks </h3>

	<% @section.sec_exam_maps.each do |semap| %>
		<h3> <i> <%= semap.exam.name %> </i> </h3>
		<% marks = Mark.for_section(@section.id).for_exam(semap.exam.id).all %>
		<table>
			<tr>
				<th> Student Name </th>
	        	<% @section.sec_sub_maps.order('id asc').each do |ssmap| %>
		    		<th> 
		        		<%= Subject.find(ssmap.subject_id).name.humanize %> <br>
		        	  	<% mc = MarkCriteria.find_by_section_id_and_subject_id_and_exam_id(@section.id, ssmap.subject_id, semap.exam_id) %>
		        	  	<% if mc %>
							(<%= mc.pass_marks.to_i %> / <%= mc.max_marks.to_i %>)
		        	  	<% end %>				        		
			  		</th>
	            <% end %>
		        <th>Total</th>
		        <th>Arrears</th>	
	        </tr>
	        <% marks.each do |mark| %>
    	        <tr>
		        	<td> <%= mark.student.name %> </td>
		        	<% @section.sec_sub_maps.order('id asc').each do |ssmap| %>
		        		<td> <%= mark.send(ssmap.mark_column).to_i %> </td>
		        	<% end %>
		        	<td><%= mark.total.to_i %></td>
		        	<td><%= mark.arrears %></td>
	        	</tr>
	        <% end %>
		</table>
	<% end %>
	<p>
		<%= link_to "Section Performance", performance_section_path(@section) %> <br>
		<%= link_to "Edit this Section", edit_section_path(@section) %>
	</p>
</div>

	

