<div id="main-column">
	<% if !@branch %>
		<%= link_to "Create School", new_branch_path %>
	<% else %>
		<h1> Branch Details </h1>
		</h2><%= @branch.name %></h2><br>
		<%= @branch.address %><br>
		<%= @branch.resource_type.name %><br>
		<p>
		  <%= link_to "Edit this Branch", edit_branch_path(@branch) %>
		</p>
	<% end %>
	
	<h1> Links </h1>
	
	<h2> Faculties </h2> <br>
	<% if @branch %>
		<%= link_to "Quick Add Faculties", facultynew_branch_path(@branch)%> <br>
	<% end %>
	<%= link_to "Faculties index", faculties_path%><br>
	<%= link_to "Add Faculty", new_faculty_path %>
	
	<h2> Classes </h2> <br>
	<% if @branch %>
		<%= link_to "Quick Add Classes", clazznew_branch_path(@branch)%> <br>
	<% end %>
	<%= link_to "Classes index", clazzs_path%><br>
	<%= link_to "Add Class", new_clazz_path %>
	
	<h2> Subjects </h2> <br>
	<% if @branch %>
		<%= link_to "Quick Add Subjects", subjectnew_branch_path(@branch)%> <br>
	<% end %>
	<%= link_to "Subjects index", subjects_path%><br>	
</div>
