<div id="main-column">
	<% if !@branch %>
		<%= link_to "Create School", new_branch_path %>
	<% else %>
		<h1> Branch Details </h1>
		</h2><%= @branch.name %></h2><br>
		<%= @branch.address %><br>
		<%= @branch.resource_type.name %><br>
		<p>
		  <%= link_to "Edit this Branch", edit_branch_path(@branch) %><br>
		</p>
	<% end %>

	<% if @branch %>
	
		<h1> Links </h1>
		
		<h2> Faculties </h2> <br>
		<%= link_to "Quick Add Faculties", facultynew_branch_path(@branch)%> <br>
		<%= link_to "Faculties index", faculties_path%><br>
		<%= link_to "Add Faculty", new_faculty_path %>
		
		<h2> Students </h2> <br>
		<%= link_to "Quick Add Students", studentnew_branch_path(@branch) %> <br>
		<%= link_to "Students index", students_path %><br>
		<%= link_to "Add Student", new_student_path %><br>
		<%= link_to "Assign Students", select_sections_path(:branch_id => @branch.id, :assign_students => true)%> <br>
				
		<h2> Classes </h2> <br>
		<%= link_to "Quick Add Classes", clazznew_branch_path(@branch)%> <br>
		<%= link_to "Classes index", clazzs_path%><br>
		<%= link_to "Add Class", new_clazz_path %><br>
		
		<h2> Subjects </h2> <br>
		<%= link_to "Quick Add Subjects", subjectnew_branch_path(@branch)%> <br>
		<%= link_to "Subjects index", subjects_path%><br>	
		<%= link_to "Add Subject", new_subject_path %>	<br>
		
		<h2> Exams </h2> <br>
		<%= link_to "Quick Add Exams", examnew_branch_path(@branch)%> <br>
		<%= link_to "Exams index", exams_path%><br>
		<%= link_to "Add Exam", new_exam_path %><br>
		
		<h2> Sections </h2> <br>
		<%= link_to "Quick Add Sections", select_clazzs_path(:branch_id => @branch.id, :quick_add_section => true)%> <br>
		<%= link_to "Sections Index from a class ", select_clazzs_path(:branch_id => @branch.id, :section_index => true)%><br>
		<%= link_to "All Sections Index", sections_path %><br>
		<%= link_to "Add Section", select_clazzs_path(:branch_id => @branch.id, :add_section=> true) %>	<br>	
	<% end %>
</div>
