<div id="main-column">
	<h1>Resource Index </h1>
	<table class='index_table_z' >
	    <thead>	
			<tr>
				<th>Name </th>
				<th>Action </th>
			</tr>
		</thead>
	    <tbody>
		<% @resources.each do |resource| %>
			<tr>
				<td><%= link_to resource.name, resource %></td>
				<td> <%= link_to 'Show', resource_path(resource) %> | 
						<%= link_to 'Edit', edit_resource_path(resource) %> | 
						<%= link_to 'Add resource types', resource_typenew_resource_path(resource) %> |
					    <%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %> 
				</td>
			</tr>
		<% end %>
	    </tbody>	
	</table>		
</div>

