<h1>Role Index </h1>
<div id="main-column">
	<table class='index_table_z' >
	    <thead>	
			<tr>
				<th>Name </th>
				<th>Description </th>
				<th>Branch (same) </th>
			</tr>
		</thead>
	    <tbody>
		<% @roles.each do |role| %>
			<tr>
				<td><%= link_to role.name, role %></td>
				<td><%= role.description%>
				<td><%= link_to role.branch.name, branch_path(role.branch) %></td>
				<td> <%= link_to 'Show', role_path(role) %> | 
						<%= link_to 'Edit', edit_role_path(role) %> | 
					    <%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %> 
				</td>
			</tr>
		<% end %>
	    </tbody>	
	</table>		
</div>
